.productFilters {
    & > div {
        margin-bottom: 1.25rem;
    }
    h5 {
        margin-bottom: 0.5rem;
    }
    button {
        margin: 0.25em 0px;
        padding: 0.25rem 0px;
        text-transform: capitalize;
        background: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-image: initial;
        border-bottom: 1px solid transparent;
        letter-spacing: var(--spacing);
        color: var(--clr-grey-5);
        cursor: pointer;
    }
    &__search {
        &__input {
            padding: 0.5rem;
            background: var(--clr-grey-10);
            border-radius: var(--radius);
            border-color: transparent;
            letter-spacing: var(--spacing);
            text-transform: capitalize;
        }
    }
    &__category {
        &__btn {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            .listBtn__item {
                & > label {
                    text-transform: capitalize;
                    margin-left: 0.5rem;
                }
            }
        }
    }
    &__company {
        margin-bottom: 1.25rem;
    }
    &__color {
        margin-bottom: 1.25rem;
        &__btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .colorBtn {
                &__all {
                    margin-right: 0.5rem;
                    &.active {
                        border-color: var(--clr-grey-5);
                        border-bottom: 1px solid;
                    }
                }
                &__item {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                    border: none;
                    cursor: pointer;
                    opacity: 0.5;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & > svg {
                        display: none;
                        font-size: 0.5rem;
                        color: white;
                    }
                    &.active > svg {
                        display: block;
                    }
                }
            }
        }
    }
    &__price {
        &__info {
            margin-bottom: 0.25rem;
        }
    }
    &__freeship {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        text-transform: capitalize;
        column-gap: 0.5rem;
        font-size: 1rem;
    }
    &__filterBtn {
        background: var(--clr-red-dark) !important;
        color: var(--clr-white) !important;
        padding: 0.25rem 0.5rem !important;
        border-radius: var(--radius) !important;
    }
}
